Import the pandas library

In [40]:
import pandas as pd

Read in the contents of the CSV of Utah census data and assign it to a variable utah_df (ie. Utah dataframe)

In [43]:
utah_df = pd.read_csv("utah-census-1880.csv")

Let’s take a look at the contents of the dataframe. Since there are a lot of columns, copy and paste this code, which tells Python not to “truncate” the columns and instead show all of them: pandas.set_option('display.max_columns', None). Then write a line of code to display a random sample of 12 rows from the dataframe

In [46]:
pd.set_option('display.max_columns', None)

In [48]:
utah_df.sample(10)

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthstate,fbirthplace,mbirthplace
68647,0182C_47_BURROWS_17,0182C,47,13057,Salt Lake City 12th Ward,SALT LAKE,167,181,BURROWS,JOSHUA,NaN,1,m,17.0,0,servant,s,n,SERVANT,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
63172,0125A_40_YOUNG_7,0125A,40,12033,Salt Lake City 17th Ward,SALT LAKE,148,175,YOUNG,GERTRUDE,NaN,1,f,7.0,0,daughter,NaN,n,NaN,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,ILLINOIS,ILLINOIS
138755,0498B_44_WADE_21,0498B,44,25856,North Ogden Precinct,WEBER,242,243,WADE,SARAH,C,1,f,21.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSOURI,PENNSYLVANIA
128885,0383C_36_ODGERS_22,0383C,36,24064,Silver Reef Precinct,WASHINGTON,198,198,ODGERS,CHARLES,NaN,1,m,22.0,0,NaN,s,n,MINER,0.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
83880,0007B_4_ROBINSON_23,0007B,4,18177,"""Upton, Upton Precinct""",SUMMIT,11,11,ROBINSON,WILLIAM,NaN,1,m,23.0,0,son,s,n,HERDING SHEEP,12.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
108004,0119A_3_BANDMAN_58,0119A,3,20736,Provo City and Precinct,UTAH,2,2,BANDMAN,ROBERT,NaN,1,m,58.0,0,NaN,m,n,FARMER,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
35095,0404B_38_AAGAARD_38,0404B,38,6400,"""Levan, Levan Precinct""",JUAB,23,23,AAGAARD,SERENA,NaN,1,f,38.0,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
48954,0497A_34_JACKSON_19,0497A,34,17920,Glenwood Precinct,SEVIER,9,9,JACKSON,MILICENT,NaN,1,f,19.0,0,daughter,s,n,WITHOUT,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,ENGLAND,ENGLAND
39595,0461C_29_STEWART_37,0461C,29,7680,Fillmore City and Precinct,MILLARD,57,64,STEWART,JULIA,NaN,1,f,37.0,0,wife,m,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,ILLINOIS,CANADA,VERMONT
92780,0108A_48_HARPER_66,0108A,48,20480,Ashley Precinct,UINTAH,10,10,HARPER,ISABELLA,NaN,1,f,66.0,0,NaN,w,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,SCOTLAND,SCOTLAND,SCOTLAND

- since there is a sex column, looking at that could result in some interesting finds in terms of what the census takers thought
- comparing occupations and how prevalent they are can tell us the outlook of the economy in utah in this time period
- looking at families or households could potentially reveal connections we cannot see initially.

Look at the column birthstate and some of the values from your random sample. Change the name of the column to something more accurate.

In [52]:
utah_df = utah_df.rename(columns={'birthstate':'birthplace'})

utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

Replace the NaN values in the occupation column with the string: Unknown.

In [55]:
if

SyntaxError: invalid syntax (4110802630.py, line 1)

Just isolate people who work on a farm in some capacity. Create a filter and subset the data using str.contains to return rows whose occupation contains FARM. How many people work on a farm?

In [58]:
if

SyntaxError: invalid syntax (4110802630.py, line 1)

The three most common categories for marrystatus have been shortened to single letters. Write three lines of code that each uses str.replace on the marrystatus column to replace:
m with married
s with single
w with widowed

In [61]:
def replace_marrystatus(some_string):
    if some_string == "m":
        return "married"
    elif some_string == "s":
        return "single"
    elif some_string == "w":
        return "widowed"

In [63]:
utah_df['marrystatus'] = utah_df["marrystatus"].apply(replace_marrystatus)

In [65]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthplace,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,married,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,married,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,None,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,None,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,widowed,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,single,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH