- Who collected, processed, and made this information available?
- Where and when was this information collected, processed, and made available?
- How was this information collected, processed, and made available?
- Why was this information collected, processed, and made available?
- How is this data stored today? How did you access it?
- What kind of data is it? What information does it contain?
- What are the limitations or weaknesses of the dataset? What is missing?
- What social, cultural, or political contexts should a user keep in mind while using the dataset?

notes:
- The members of the KKK in colorado were the ones processing, and collecting this information, to store it within their ledgers
- This information was collected from 1924 thru 1946, in the general Denver metro area.
- This information was collected in a series of books, with rows corresponding to each member.
- This informaiton was collected for "administrative purposes"
- This data is stored in different ways today, with scanned photos of the orignal books, digitized versions in spreadsheets, and an interactive map on the website.
- The actual data contains a number pulled from the original ledgers, a full name including prefix and suffix, and addresses, among other administrative notes (payment received, date naturalized, etc)
- The dataset is missing lots of addresses, as well as not showing level of involvement, among other things.
- It is important to remember the time frame that this was created in.

In [28]:
import pandas as pd

In [30]:
kkk_df = pd.read_csv('kkk-ledgers-index.csv')
kkk_df.sample(5)

/var/folders/35/7877ljzn6nj5tdww9cfrpbz40000gn/T/ipykernel_63865/360783143.py:1: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  kkk_df = pd.read_csv('kkk-ledgers-index.csv')

,itemID,Number,fullName,Prefix,Last Name,First Name,Middle Name,Suffix,residenceAddress1,residenceAddress2,Residence Address,Residence Other,residenceCity,residenceState,Residence City & State,residencePhone,businessAddress1,businessAddress2,Business Address,Business Other,businessCity,businessState,Business City & State,businessPhone,ledger,link,Ledger Link,Page,pdfFileName,symbolExists,sNumber,sErased,Notes & Remarks,Column 29
19692,K19693,3822.0,Edward L Southern,NaN,Southern,Edward,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSS.366.4,h-co.org/ledger1,MSS.366.4,133,mss366-4_p121-180_QC,False,False,False,NaN,NaN
15291,K15292,46105.0,George G Barker,NaN,Barker,George,G,NaN,NaN,NaN,NaN,American House,NaN,NaN,NaN,C8800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSS.366.5,h-co.org/ledger2,MSS.366.5,677,mss366-5_p677-742_QC,True,False,False,NaN,NaN
17952,K17953,1785.0,Fred W Nieman,NaN,Nieman,Fred,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSS.366.4,h-co.org/ledger1,MSS.366.4,57,mss366-4_FC-p60_QC,False,False,False,NaN,NaN
18863,K18864,2894.0,Fredrick H Catchpole,NaN,Catchpole,Fredrick,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSS.366.4,h-co.org/ledger1,MSS.366.4,96,mss366-4_p61-120_QC,False,False,False,NaN,NaN
6664,K06665,17663.0,Walter Leonard Wist,NaN,Wist,Walter,Leonard,NaN,468 Lafayette,NaN,468 Lafayette,NaN,Denver,CO*,"Denver, CO*",S108,1523 Tremont,NaN,1523 Tremont,NaN,Denver,CO*,"Denver, CO*",M6360,MSS.366.5,h-co.org/ledger2,MSS.366.5,296,mss366-5_p225-299_QC,False,True,False,NaN,NaN

In [32]:
# Load the CSV with low_memory=False to avoid the warning for now
kkk_df = pd.read_csv('kkk-ledgers-index.csv', low_memory=False)

# Show the name of column 33 (remember, Python uses 0-based indexing)
col_33_name = kkk_df.columns[33]
print(f"Column 33 name: {col_33_name}")

# Peek at the data in that column
kkk_df[col_33_name].sample(10)

Column 33 name: Column 29

26299    NaN
14085    NaN
12457    NaN
10740    NaN
21545    NaN
9654     NaN
27633    NaN
27261    NaN
22162    NaN
22104    NaN
Name: Column 29, dtype: object

In [34]:
# Look at non-null values in that column
non_null_values = kkk_df[col_33_name].dropna()

# Show the first 20 non-null values
print(non_null_values.head(20))

# See what data types are present
non_null_values.apply(type).value_counts()

2204    RESIGNED 5-27-26"
Name: Column 29, dtype: object

Column 29
<class 'str'>    1
Name: count, dtype: int64

In [36]:
# Check types of all non-null values in that column
kkk_df[col_33_name].dropna().apply(type).value_counts()

Column 29
<class 'str'>    1
Name: count, dtype: int64

In [39]:
import pandas as pd

# Set display option to show all columns
pd.set_option('display.max_columns', None)

# Optional: show full width of column content
pd.set_option('display.max_colwidth', None)

# Try printing a subset of your DataFrame to test
print(kkk_df.head())

   itemID  Number          fullName Prefix Last Name First Name Middle Name  \
0  K00001    12.0      Fred H Crass    NaN     Crass       Fred           H
1  K00002   501.0  Harold D Adamson    NaN   Adamson     Harold           D
2  K00003   502.0       J E Adamson    NaN   Adamson          J           E
3  K00004   503.0   Albert J Ashade    NaN    Ashade     Albert           J
4  K00005   504.0    Gaylord W Akin    NaN      Akin    Gaylord           W

  Suffix residenceAddress1   residenceAddress2   Residence Address  \
0    NaN       219 E Maple                 NaN         219 E Maple
1    NaN               NaN  18th & California*  18th & California*
2    NaN               NaN                 NaN                 NaN
3    NaN       2446 Champa                 NaN         2446 Champa
4    NaN         1241 Penn                 NaN           1241 Penn

  Residence Other residenceCity residenceState Residence City & State  \
0             NaN        Denver            CO*            Denver, CO*
1     Sears Hotel        Denver            CO*            Denver, CO*
2             NaN           NaN            NaN                    NaN
3             NaN        Denver            CO*            Denver, CO*
4             NaN        Denver            CO*            Denver, CO*

  residencePhone businessAddress1 businessAddress2 Business Address  \
0          S2652    1431 15th St.              NaN    1431 15th St.
1            NaN              NaN              NaN              NaN
2            NaN              NaN              NaN              NaN
3            NaN              NaN              NaN              NaN
4            NaN              NaN              NaN              NaN

   Business Other businessCity businessState Business City & State  \
0             NaN       Denver           CO*           Denver, CO*
1             NaN          NaN           NaN                   NaN
2  Met State Bank          NaN           NaN                   NaN
3             NaN          NaN           NaN                   NaN
4             NaN          NaN           NaN                   NaN

  businessPhone     ledger              link Ledger Link  Page  \
0         M5382  MSS.366.5  h-co.org/ledger2   MSS.366.5     3
1           NaN  MSS.366.5  h-co.org/ledger2   MSS.366.5     5
2           NaN  MSS.366.5  h-co.org/ledger2   MSS.366.5     5
3           NaN  MSS.366.5  h-co.org/ledger2   MSS.366.5     5
4           NaN  MSS.366.5  h-co.org/ledger2   MSS.366.5     5

          pdfFileName  symbolExists  sNumber  sErased  \
0  mss366-5_FC-p74_QC          True    False    False
1  mss366-5_FC-p74_QC         False     True    False
2  mss366-5_FC-p74_QC         False    False    False
3  mss366-5_FC-p74_QC         False    False    False
4  mss366-5_FC-p74_QC          True     True    False

                  Notes & Remarks Column 29
0         "Trans. from old M#636"       NaN
1                             NaN       NaN
2  Name struck; "NOT N PADONCASE"       NaN
3                             NaN       NaN
4                             NaN       NaN